# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
MuGA/dist/README.TXT
MuGA/build/classes/GUI/utils/MuGASystem.class
MuGA/build/classes/GUI/utils/MuGAObject.class
MuGA/build/classes/GUI/utils/MLog.class
MuGA/build/classes/GUI/UIpopulation.form
MuGA/build/classes/GUI/UIpopulation.class
MuGA/build/classes/GUI/StatisticsSimulations.form
MuGA/build/classes/GUI/StatisticsSimulations.class
MuGA/build/classes/GUI/StatisticsSimulations$12.class
MuGA/build/classes/GUI/StatisticsSimulations$11.class
MuGA/build/classes/GUI/statistics/StatisticsRankChart.class
MuGA/build/classes/GUI/statistics/StatisticsChartSolver.class
MuGA/build/classes/GUI/statistics/StatisticsChartSimulation.class
MuGA/build/classes/GUI/statistics/StatisticsChartSimulation$1.class
MuGA/build/classes/GUI/statistics/StatisticsChartExperiment.class
MuGA/build/classes/GUI/statistics/StatisticsBoxAndWhisker.class
MuGA/build/classes/GUI/solver/UiSolver.class
MuGA/build/classes/GUI/solver/UIexperiment.class
MuGA/build/classes/GUI/solver/EvolutionEventListener.class
MuGA/build/classes/GUI/SetupSolverFrm.form
MuGA/build/classes/GUI/SetupSolverFrm.class
MuGA/build/classes/GUI/SetupSolverFrm$7.class
MuGA/build/classes/GUI/SetupSolverFrm$6.class
MuGA/build/classes/GUI/SetupSolverFrm$5.class
MuGA/build/classes/GUI/SetupSolverFrm$4.class
MuGA/build/classes/GUI/SetupSolverFrm$3.class
MuGA/build/classes/GUI/SetupSolverFrm$20.class
MuGA/build/classes/GUI/SetupSolverFrm$2.class
MuGA/build/classes/GUI/SetupSolverFrm$1.class
MuGA/build/classes/GUI/setup/TreeModelGUI.class
MuGA/build/classes/GUI/setup/SetupSolverDialog.form
MuGA/build/classes/GUI/setup/SetupSolverDialog.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$8.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$7.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$6.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$5.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$4.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$3.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$2.class
MuGA/build/classes/GUI/setup/SetupSolverDialog$1.class
MuGA/build/classes/GUI/setup/PopulationParameters.form
MuGA/build/classes/GUI/setup/PopulationParameters.class
MuGA/build/classes/GUI/setup/PopulationParameters$1.class
MuGA/build/classes/GUI/setup/PopulationEventListener.class
MuGA/build/classes/GUI/setup/GeneticParameter.form
MuGA/build/classes/GUI/setup/GeneticParameter.class
MuGA/build/classes/GUI/setup/GeneticParameter$1.class
MuGA/build/classes/GUI/setup/GeneticEventListener.class
MuGA/build/classes/GUI/RunSimulation.form
MuGA/build/classes/GUI/RunSimulation.class
MuGA/build/classes/GUI/RunSimulation$22.class
MuGA/build/classes/GUI/RunSimulation$21.class
MuGA/build/classes/GUI/RunSimulation$19.class
MuGA/build/classes/GUI/RunSimulation$1.class
MuGA/build/classes/GUI/research/ReserachRecombination.form
MuGA/build/classes/GUI/research/ReserachRecombination.class
MuGA/build/classes/GUI/research/ReserachRecombination$7.class
MuGA/build/classes/GUI/research/ReserachMutation.form
MuGA/build/classes/GUI/research/ReserachMutation.class
MuGA/build/classes/GUI/research/ReserachMutation$4.class
MuGA/build/classes/GUI/research/ResearchMenu.form
MuGA/build/classes/GUI/research/ResearchMenu.class
MuGA/build/classes/GUI/research/ResearchMenu$6.class
MuGA/build/classes/GUI/MainMenu.form
MuGA/build/classes/GUI/MainMenu.class
MuGA/build/classes/GUI/MainMenu$5.class
MuGA/build/classes/GUI/ExploreSolver.form
MuGA/build/classes/GUI/ExploreSolver.class
MuGA/build/classes/GUI/ExploreSolver$11.class
MuGA/build/classes/GUI/ExploreSolver$1.class
MuGA/build/classes/GUI/DisplayProblem/GraphicsRoyalRoad.class
MuGA/build/classes/GUI/DisplayProblem/GraphicsQueens.class
MuGA/build/classes/GUI/DisplayProblem/GraphicsPermutation.class
MuGA/build/classes/GUI/DisplayProblem/GraphicsKnapSack.class
MuGA/build/classes/GUI/DisplayProblem/Graphics3Dfunc.class
MuGA/build/classes/GUI/DisplayProblem/Graphics01Phenotype.class
MuGA/build/classes/GUI/DisplayProblem/Graphics01Genome.class
MuGA/build/classes/GUI/DisplayProblem/DistanceToOptimum.class
MuGA/build/classes/GUI/DisplayProblem/DisplayPopulation.class
MuGA/build/classes/GUI/DisplayProblem/DisplayNK_Rules.class
MuGA/build/classes/GUI/DisplayProblem/DisplayNK_Problem.class
MuGA/build/classes/GUI/DisplayProblem/DisplayNK_Population.class
MuGA/build/classes/com/utils/TestSort.class
MuGA/build/classes/com/utils/TestSort$OBJ.class
MuGA/build/classes/com/utils/Statistics.class
MuGA/build/classes/com/utils/staticallib/Distributions/Normal.class
MuGA/build/classes/com/utils/staticallib/Distributions/binomial.class
MuGA/build/classes/com/utils/staticallib/Distributions/beta.class
MuGA/build/classes/com/utils/RandomVariable.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/WCCI2008.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/UnitFunction2D.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/UnitFunction1D.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/TimingUtilities.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/Sphere.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/SmoothCylinder.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/RanTable.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/Ran0.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/Pyramid.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/PlotUtilities.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/MersenneTwister.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/FractalFunction2D.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/FractalFunction1D.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/FastFractal.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/DoubleDip.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/Cylinder.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/Cube.class
MuGA/build/classes/com/utils/problems/CEC2008/fractal/Circle.class
MuGA/build/classes/com/utils/problems/CEC2008/F7_Fast_Fractal.class
MuGA/build/classes/com/utils/problems/BinaryNumberUtils.class
MuGA/build/classes/com/utils/Permutation.class
MuGA/build/classes/com/utils/MyVector.class
MuGA/build/classes/com/utils/MyUtils.class
MuGA/build/classes/com/utils/MyString.class
MuGA/build/classes/com/utils/MyStatistics.class
MuGA/build/classes/com/utils/MyNumber.class
MuGA/build/classes/com/utils/MyFile.class
MuGA/build/classes/com/utils/MuGAsourceCode.class
MuGA/build/classes/com/utils/Distances.class
MuGA/build/classes/com/utils/copyright/ReplaceSourceCodeHeader.class
MuGA/build/classes/com/utils/ArrayUtils.class
MuGA/build/classes/com/evolutionary/stopCriteria/ValueFound.class
MuGA/build/classes/com/evolutionary/stopCriteria/StopCriteria.class
MuGA/build/classes/com/evolutionary/stopCriteria/OptimumFound.class
MuGA/build/classes/com/evolutionary/stopCriteria/NoStop.class
MuGA/build/classes/com/evolutionary/stopCriteria/MaxGeneration.class
MuGA/build/classes/com/evolutionary/stopCriteria/MaxEvaluations.class
MuGA/build/classes/com/evolutionary/solverUtils/FileSolver.class
MuGA/build/classes/com/evolutionary/solverUtils/FileSimulation_original.class
MuGA/build/classes/com/evolutionary/solverUtils/FileSimulation.class
MuGA/build/classes/com/evolutionary/solverUtils/FileReportSolver.class
MuGA/build/classes/com/evolutionary/solverUtils/FileReportArray.class
MuGA/build/classes/com/evolutionary/solverUtils/EAsolverArray.class
MuGA/build/classes/com/evolutionary/solverUtils/EAExperimentRanks.class
MuGA/build/classes/com/evolutionary/solverUtils/EAExperiment.class
MuGA/build/classes/com/evolutionary/solver/RTS.class
MuGA/build/classes/com/evolutionary/solver/GA.class
MuGA/build/classes/com/evolutionary/solver/EAsolver.class
MuGA/build/classes/com/evolutionary/solver/differentialEvolution/DEStrategy.class
MuGA/build/classes/com/evolutionary/solver/DE.class
MuGA/build/classes/com/evolutionary/solver/CrowdingStep.class
MuGA/build/classes/com/evolutionary/solver/CrowdingMafoudStep.class
MuGA/build/classes/com/evolutionary/solver/CrowdingMafoud.class
MuGA/build/classes/com/evolutionary/solver/Crowding.class
MuGA/build/classes/com/evolutionary/report/statistics/Time.class
MuGA/build/classes/com/evolutionary/report/statistics/SucessRate.class
MuGA/build/classes/com/evolutionary/report/statistics/SuccessToValue.class
MuGA/build/classes/com/evolutionary/report/statistics/SelectedIndividuals.class
MuGA/build/classes/com/evolutionary/report/statistics/SelectedGenotypes.class
MuGA/build/classes/com/evolutionary/report/statistics/NumOptimumsFound.class
MuGA/build/classes/com/evolutionary/report/statistics/NumOptimalIndividuals.class
MuGA/build/classes/com/evolutionary/report/statistics/NumOptimalGenomesPop.class
MuGA/build/classes/com/evolutionary/report/statistics/NumMaximaPop.class
MuGA/build/classes/com/evolutionary/report/statistics/MeanCopiesSelection.class
MuGA/build/classes/com/evolutionary/report/statistics/MaxCopiesSelection.class
MuGA/build/classes/com/evolutionary/report/statistics/MaxCopies.class
MuGA/build/classes/com/evolutionary/report/statistics/Individuals.class
MuGA/build/classes/com/evolutionary/report/statistics/Genotypes.class
MuGA/build/classes/com/evolutionary/report/statistics/GeneticDiversityLog.class
MuGA/build/classes/com/evolutionary/report/statistics/GeneticDiversityBinary.class
MuGA/build/classes/com/evolutionary/report/statistics/GeneticDiversity.class
MuGA/build/classes/com/evolutionary/report/statistics/Generation.class
MuGA/build/classes/com/evolutionary/report/statistics/GenDivVolume.class
MuGA/build/classes/com/evolutionary/report/statistics/GenDivDistance2Center.class
MuGA/build/classes/com/evolutionary/report/statistics/FunctionCalls.class
MuGA/build/classes/com/evolutionary/report/statistics/FuncsToValue.class
MuGA/build/classes/com/evolutionary/report/statistics/FuncsToOptimumN.class
MuGA/build/classes/com/evolutionary/report/statistics/FuncsCallsToOptimum.class
MuGA/build/classes/com/evolutionary/report/statistics/CopiesOfMaxima.class
MuGA/build/classes/com/evolutionary/report/statistics/CeilingFactor.class
MuGA/build/classes/com/evolutionary/report/statistics/BestFitness.class
MuGA/build/classes/com/evolutionary/report/statistics/AbstractStatistics.class
MuGA/build/classes/com/evolutionary/report/StatisticElement.class
MuGA/build/classes/com/evolutionary/report/ReportSolverArray.class
MuGA/build/classes/com/evolutionary/report/ReportSolver.class
MuGA/build/classes/com/evolutionary/report/ReportSimulation.class
MuGA/build/classes/com/evolutionary/report/html/WWWSolverSaveReportArray.class
MuGA/build/classes/com/evolutionary/report/html/WWWSolverSaveReportArray$SaveReportArrayTask.class
MuGA/build/classes/com/evolutionary/report/html/WWWSolverSaveReport.class
MuGA/build/classes/com/evolutionary/report/html/WWWSolverSaveReport$SaveReportTask.class
MuGA/build/classes/com/evolutionary/report/html/WwwExperimentReport.class
MuGA/build/classes/com/evolutionary/report/html/WwwExperimentReport$SaveReportTask.class
MuGA/build/classes/com/evolutionary/report/html/HTMLutils.class
MuGA/build/classes/com/evolutionary/report/compareMeans/Tstudent.class
MuGA/build/classes/com/evolutionary/problem/real/Sphere.class
MuGA/build/classes/com/evolutionary/problem/real/RealVector.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/F07_Fractal.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/F06_Ackley.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/F05_Griewank.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/F04_Rastringin.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/F03_Rosembrock.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/F02_Schwefel.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/F01_Sphere.class
MuGA/build/classes/com/evolutionary/problem/real/CEC2008/CEC2008.class
MuGA/build/classes/com/evolutionary/problem/permutation/SimplePermutation.class
MuGA/build/classes/com/evolutionary/problem/permutation/Permutations.class
MuGA/build/classes/com/evolutionary/problem/permutation/ChessQueens.class
MuGA/build/classes/com/evolutionary/problem/Individual.class
MuGA/build/classes/com/evolutionary/problem/bits/TwoMax1.class
MuGA/build/classes/com/evolutionary/problem/bits/TwoMax.class
MuGA/build/classes/com/evolutionary/problem/bits/RoyRoad/R2.class
MuGA/build/classes/com/evolutionary/problem/bits/RoyRoad/R1.class
MuGA/build/classes/com/evolutionary/problem/bits/Quadratic.class
MuGA/build/classes/com/evolutionary/problem/bits/OneMin.class
MuGA/build/classes/com/evolutionary/problem/bits/OneMax.class
MuGA/build/classes/com/evolutionary/problem/bits/nkLandscapes/NKSeq.class
MuGA/build/classes/com/evolutionary/problem/bits/nkLandscapes/NKRnd.class
MuGA/build/classes/com/evolutionary/problem/bits/nkLandscapes/NKLandscapeAbstract.class
MuGA/build/classes/com/evolutionary/problem/bits/knapsack/KnapSack.class
MuGA/build/classes/com/evolutionary/problem/bits/knapsack/K50.class
MuGA/build/classes/com/evolutionary/problem/bits/knapsack/K250.class
MuGA/build/classes/com/evolutionary/problem/bits/knapsack/K100.class
MuGA/build/classes/com/evolutionary/problem/bits/knapsack/AbstractKnapSack.class
MuGA/build/classes/com/evolutionary/problem/bits/Jump.class
MuGA/build/classes/com/evolutionary/problem/bits/BinaryString.class
MuGA/build/classes/com/evolutionary/population/SimplePopulation.class
MuGA/build/classes/com/evolutionary/population/Population.class
MuGA/build/classes/com/evolutionary/population/MultiPopulation.class
MuGA/build/classes/com/evolutionary/operator/selection/Selection.class
MuGA/build/classes/com/evolutionary/operator/selection/NoSelection.class
MuGA/build/classes/com/evolutionary/operator/selection/MTournamentSelection.class
MuGA/build/classes/com/evolutionary/operator/rescaling/Rescaling.class
MuGA/build/classes/com/evolutionary/operator/rescaling/NoRescaling.class
MuGA/build/classes/com/evolutionary/operator/rescaling/NoCopies.class
MuGA/build/classes/com/evolutionary/operator/rescaling/FixedCeiling.class
MuGA/build/classes/com/evolutionary/operator/rescaling/AdaptiveCeiling.class
MuGA/build/classes/com/evolutionary/operator/replacement/TournamentReplacement.class
MuGA/build/classes/com/evolutionary/operator/replacement/RestrictedReplacement.class
MuGA/build/classes/com/evolutionary/operator/replacement/ReplaceMostSimilar.class
MuGA/build/classes/com/evolutionary/operator/replacement/Replacement.class
MuGA/build/classes/com/evolutionary/operator/replacement/NoReplacement.class
MuGA/build/classes/com/evolutionary/operator/replacement/MTournamentReplace.class
MuGA/build/classes/com/evolutionary/operator/replacement/Gerational.class
MuGA/build/classes/com/evolutionary/operator/replacement/ClearingReplacementElit.class
MuGA/build/classes/com/evolutionary/operator/replacement/ClearingReplacement.class
MuGA/build/classes/com/evolutionary/operator/replacement/ClearingMultiset.class
MuGA/build/classes/com/evolutionary/operator/recombination/Uniform.class
MuGA/build/classes/com/evolutionary/operator/recombination/Recombination.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/PX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/MuLX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/MuECX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/MuCX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/MuBX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/MuAX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/MPX1.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/MPX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/CX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/BX.class
MuGA/build/classes/com/evolutionary/operator/recombination/real/AX.class
MuGA/build/classes/com/evolutionary/operator/recombination/permutation/UPX.class
MuGA/build/classes/com/evolutionary/operator/recombination/NPointCrossover.class
MuGA/build/classes/com/evolutionary/operator/recombination/NoRecombination.class
MuGA/build/classes/com/evolutionary/operator/recombination/DefaultRecombination.class
MuGA/build/classes/com/evolutionary/operator/mutation/real/NUM.class
MuGA/build/classes/com/evolutionary/operator/mutation/real/MuLaplace.class
MuGA/build/classes/com/evolutionary/operator/mutation/real/MuGaussExpand.class
MuGA/build/classes/com/evolutionary/operator/mutation/real/MuGauss.class
MuGA/build/classes/com/evolutionary/operator/mutation/real/Gauss.class
MuGA/build/classes/com/evolutionary/operator/mutation/permutation/SwapGenes.class
MuGA/build/classes/com/evolutionary/operator/mutation/NoMutation.class
MuGA/build/classes/com/evolutionary/operator/mutation/Mutation.class
MuGA/build/classes/com/evolutionary/operator/mutation/MultisetMutation.class
MuGA/build/classes/com/evolutionary/operator/mutation/FlipBit.class
MuGA/build/classes/com/evolutionary/operator/mutation/DefaultMutation.class
MuGA/build/classes/com/evolutionary/operator/GeneticOperator.class
MuGA/build/classes/com/evolutionary/Genetic.class
MuGA/build/classes/.netbeans_update_resources
MuGA/build/classes/.netbeans_automatic_build
MuGA/build/built-jar.properties
